# Etape 1
## effectuez une analyse exploratoire des fichiers des données

### Résultats attendus

Un DataFrame central, issu d’une jointure entre les fichiers de départ.

Des cellules au sein du notebook pour calculer des statistiques descriptives sur les fichiers de départ et le fichier central, dans l’objectif de faire ressortir des différences clés entre les employés.

Des cellules au sein du notebook pour générer des graphiques, dans l’objectif de faire ressortir des différences clés entre les employés.

### Import

In [19]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
pd.set_option('display.max_columns', None)

### lecture des 3 fichiers csv

In [20]:
df_sirh = pd.read_csv("../Data/extrait_sirh.csv")
df_eval = pd.read_csv("../Data/extrait_eval.csv")
df_sondage = pd.read_csv("../Data/extrait_sondage.csv")

In [28]:
df_sirh.info()
df_eval.info()
df_sondage.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 12 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id_employee                     1470 non-null   int64
 1   age                             1470 non-null   int64
 2   genre                           1470 non-null   object
 3   revenu_mensuel                  1470 non-null   int64
 4   statut_marital                  1470 non-null   object
 5   departement                     1470 non-null   object
 6   poste                           1470 non-null   object
 7   nombre_experiences_precedentes  1470 non-null   int64
 8   nombre_heures_travailless       1470 non-null   int64
 9   annee_experience_totale         1470 non-null   int64
 10  annees_dans_l_entreprise        1470 non-null   int64
 11  annees_dans_le_poste_actuel     1470 non-null   int64
dtypes: int64(8), object(4)
memory usage: 137.9+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 11 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   satisfaction_employee_environnement        1470 non-null   int64
 1   note_evaluation_precedente                 1470 non-null   int64
 2   niveau_hierarchique_poste                  1470 non-null   int64
 3   satisfaction_employee_nature_travail       1470 non-null   int64
 4   satisfaction_employee_equipe               1470 non-null   int64
 5   satisfaction_employee_equilibre_pro_perso  1470 non-null   int64
 6   eval_number                                1470 non-null   object
 7   note_evaluation_actuelle                   1470 non-null   int64
 8   heure_supplementaires                      1470 non-null   object
 9   augementation_salaire_precedente           1470 non-null   object
 10  id_employee                                1470 non-null   int64
dtypes: int64(8), object(3)
memory usage: 126.5+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 12 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   a_quitte_l_entreprise                1470 non-null   object
 1   nombre_participation_pee             1470 non-null   int64
 2   nb_formations_suivies                1470 non-null   int64
 3   nombre_employee_sous_responsabilite  1470 non-null   int64
 4   id_employee                          1470 non-null   int64
 5   distance_domicile_travail            1470 non-null   int64
 6   niveau_education                     1470 non-null   int64
 7   domaine_etude                        1470 non-null   object
 8   ayant_enfants                        1470 non-null   object
 9   frequence_deplacement                1470 non-null   object
 10  annees_depuis_la_derniere_promotion  1470 non-null   int64
 11  annes_sous_responsable_actuel        1470 non-null   int64
dtypes: int64(8), object(4)
memory usage: 137.9+ KB

### Display

In [21]:
print('Fichier SIRH')
display(df_sirh.head())

print('Fichier Eval')
display(df_eval.head())

print('Fichier Sondage')
display(df_sondage.head())

Fichier SIRH

,id_employee,age,genre,revenu_mensuel,statut_marital,departement,poste,nombre_experiences_precedentes,nombre_heures_travailless,annee_experience_totale,annees_dans_l_entreprise,annees_dans_le_poste_actuel
0,1,41,F,5993,Célibataire,Commercial,Cadre Commercial,8,80,8,6,4
1,2,49,M,5130,Marié(e),Consulting,Assistant de Direction,1,80,10,10,7
2,4,37,M,2090,Célibataire,Consulting,Consultant,6,80,7,0,0
3,5,33,F,2909,Marié(e),Consulting,Assistant de Direction,1,80,8,8,7
4,7,27,M,3468,Marié(e),Consulting,Consultant,9,80,6,2,2

Fichier Eval

,satisfaction_employee_environnement,note_evaluation_precedente,niveau_hierarchique_poste,satisfaction_employee_nature_travail,satisfaction_employee_equipe,satisfaction_employee_equilibre_pro_perso,eval_number,note_evaluation_actuelle,heure_supplementaires,augementation_salaire_precedente
0,2,3,2,4,1,1,E_1,3,Oui,11 %
1,3,2,2,2,4,3,E_2,4,Non,23 %
2,4,2,1,3,2,3,E_4,3,Oui,15 %
3,4,3,1,3,3,3,E_5,3,Oui,11 %
4,1,3,1,2,4,3,E_7,3,Non,12 %

Fichier Sondage

,a_quitte_l_entreprise,nombre_participation_pee,nb_formations_suivies,nombre_employee_sous_responsabilite,code_sondage,distance_domicile_travail,niveau_education,domaine_etude,ayant_enfants,frequence_deplacement,annees_depuis_la_derniere_promotion,annes_sous_responsable_actuel
0,Oui,0,0,1,1,1,2,Infra & Cloud,Y,Occasionnel,0,5
1,Non,1,3,1,2,8,1,Infra & Cloud,Y,Frequent,1,7
2,Oui,0,3,1,4,2,2,Autre,Y,Occasionnel,0,0
3,Non,0,3,1,5,3,4,Infra & Cloud,Y,Frequent,3,0
4,Non,1,3,1,7,2,1,Transformation Digitale,Y,Occasionnel,2,2

### Fusion des données
Recherche de clef et ensuite fusion

In [22]:

df_sondage = df_sondage.rename(columns={'code_sondage': 'id_employee'})
df_eval['id_employee'] = df_eval['eval_number'].apply(lambda x: int(x[2:]))


df_final = df_sirh.merge(df_eval, on='id_employee', how='inner') \
                  .merge(df_sondage, on='id_employee', how='inner')

In [23]:
print(df_final.shape)
df_final.info()

(1470, 33)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 33 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   id_employee                                1470 non-null   int64
 1   age                                        1470 non-null   int64
 2   genre                                      1470 non-null   object
 3   revenu_mensuel                             1470 non-null   int64
 4   statut_marital                             1470 non-null   object
 5   departement                                1470 non-null   object
 6   poste                                      1470 non-null   object
 7   nombre_experiences_precedentes             1470 non-null   int64
 8   nombre_heures_travailless                  1470 non-null   int64
 9   annee_experience_totale                    1470 non-null   int64
 10  annees_dans_l_entreprise                   1470 non-null   int64
 11  annees_dans_le_poste_actuel                1470 non-null   int64
 12  satisfaction_employee_environnement        1470 non-null   int64
 13  note_evaluation_precedente                 1470 non-null   int64
 14  niveau_hierarchique_poste                  1470 non-null   int64
 15  satisfaction_employee_nature_travail       1470 non-null   int64
 16  satisfaction_employee_equipe               1470 non-null   int64
 17  satisfaction_employee_equilibre_pro_perso  1470 non-null   int64
 18  eval_number                                1470 non-null   object
 19  note_evaluation_actuelle                   1470 non-null   int64
 20  heure_supplementaires                      1470 non-null   object
 21  augementation_salaire_precedente           1470 non-null   object
 22  a_quitte_l_entreprise                      1470 non-null   object
 23  nombre_participation_pee                   1470 non-null   int64
 24  nb_formations_suivies                      1470 non-null   int64
 25  nombre_employee_sous_responsabilite        1470 non-null   int64
 26  distance_domicile_travail                  1470 non-null   int64
 27  niveau_education                           1470 non-null   int64
 28  domaine_etude                              1470 non-null   object
 29  ayant_enfants                              1470 non-null   object
 30  frequence_deplacement                      1470 non-null   object
 31  annees_depuis_la_derniere_promotion        1470 non-null   int64
 32  annes_sous_responsable_actuel              1470 non-null   int64
dtypes: int64(22), object(11)
memory usage: 379.1+ KB

In [24]:
df_final = df_final.rename(columns={'augementation_salaire_precedente': 'augmentation_salaire_pourcentage'})


df_final['augmentation_salaire_pourcentage'] = df_final['augmentation_salaire_pourcentage'].astype(str).str.replace(' %', '').astype(int)


print(df_final['augmentation_salaire_pourcentage'].head())

0    11
1    23
2    15
3    11
4    12
Name: augmentation_salaire_pourcentage, dtype: int64

In [25]:
# Liste explicite des colonnes à convertir en catégorie
colonnes_categories = [
    'genre', 
    'statut_marital', 
    'departement', 
    'poste', 
    'heure_supplementaires', 
    'a_quitte_l_entreprise', 
    'domaine_etude', 
    'ayant_enfants', 
    'frequence_deplacement'
]

# Boucle pour convertir chaque colonne
for col in colonnes_categories:
    df_final[col] = df_final[col].astype('category')

# On vérifie que le changement a bien eu lieu
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 33 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   id_employee                                1470 non-null   int64
 1   age                                        1470 non-null   int64
 2   genre                                      1470 non-null   category
 3   revenu_mensuel                             1470 non-null   int64
 4   statut_marital                             1470 non-null   category
 5   departement                                1470 non-null   category
 6   poste                                      1470 non-null   category
 7   nombre_experiences_precedentes             1470 non-null   int64
 8   nombre_heures_travailless                  1470 non-null   int64
 9   annee_experience_totale                    1470 non-null   int64
 10  annees_dans_l_entreprise                   1470 non-null   int64
 11  annees_dans_le_poste_actuel                1470 non-null   int64
 12  satisfaction_employee_environnement        1470 non-null   int64
 13  note_evaluation_precedente                 1470 non-null   int64
 14  niveau_hierarchique_poste                  1470 non-null   int64
 15  satisfaction_employee_nature_travail       1470 non-null   int64
 16  satisfaction_employee_equipe               1470 non-null   int64
 17  satisfaction_employee_equilibre_pro_perso  1470 non-null   int64
 18  eval_number                                1470 non-null   object
 19  note_evaluation_actuelle                   1470 non-null   int64
 20  heure_supplementaires                      1470 non-null   category
 21  augmentation_salaire_pourcentage           1470 non-null   int64
 22  a_quitte_l_entreprise                      1470 non-null   category
 23  nombre_participation_pee                   1470 non-null   int64
 24  nb_formations_suivies                      1470 non-null   int64
 25  nombre_employee_sous_responsabilite        1470 non-null   int64
 26  distance_domicile_travail                  1470 non-null   int64
 27  niveau_education                           1470 non-null   int64
 28  domaine_etude                              1470 non-null   category
 29  ayant_enfants                              1470 non-null   category
 30  frequence_deplacement                      1470 non-null   category
 31  annees_depuis_la_derniere_promotion        1470 non-null   int64
 32  annes_sous_responsable_actuel              1470 non-null   int64
dtypes: category(9), int64(23), object(1)
memory usage: 290.1+ KB

In [26]:
display(df_final.head(30))

,id_employee,age,genre,revenu_mensuel,statut_marital,departement,poste,nombre_experiences_precedentes,nombre_heures_travailless,annee_experience_totale,annees_dans_l_entreprise,annees_dans_le_poste_actuel,satisfaction_employee_environnement,note_evaluation_precedente,niveau_hierarchique_poste,satisfaction_employee_nature_travail,satisfaction_employee_equipe,satisfaction_employee_equilibre_pro_perso,eval_number,note_evaluation_actuelle,heure_supplementaires,augmentation_salaire_pourcentage,a_quitte_l_entreprise,nombre_participation_pee,nb_formations_suivies,nombre_employee_sous_responsabilite,distance_domicile_travail,niveau_education,domaine_etude,ayant_enfants,frequence_deplacement,annees_depuis_la_derniere_promotion,annes_sous_responsable_actuel
0,1,41,F,5993,Célibataire,Commercial,Cadre Commercial,8,80,8,6,4,2,3,2,4,1,1,E_1,3,Oui,11,Oui,0,0,1,1,2,Infra & Cloud,Y,Occasionnel,0,5
1,2,49,M,5130,Marié(e),Consulting,Assistant de Direction,1,80,10,10,7,3,2,2,2,4,3,E_2,4,Non,23,Non,1,3,1,8,1,Infra & Cloud,Y,Frequent,1,7
2,4,37,M,2090,Célibataire,Consulting,Consultant,6,80,7,0,0,4,2,1,3,2,3,E_4,3,Oui,15,Oui,0,3,1,2,2,Autre,Y,Occasionnel,0,0
3,5,33,F,2909,Marié(e),Consulting,Assistant de Direction,1,80,8,8,7,4,3,1,3,3,3,E_5,3,Oui,11,Non,0,3,1,3,4,Infra & Cloud,Y,Frequent,3,0
4,7,27,M,3468,Marié(e),Consulting,Consultant,9,80,6,2,2,1,3,1,2,4,3,E_7,3,Non,12,Non,1,3,1,2,1,Transformation Digitale,Y,Occasionnel,2,2
5,8,32,M,3068,Célibataire,Consulting,Consultant,0,80,8,7,7,4,3,1,4,3,2,E_8,3,Non,13,Non,0,2,1,2,2,Infra & Cloud,Y,Frequent,3,6
6,10,59,F,2670,Marié(e),Consulting,Consultant,4,80,12,1,0,3,4,1,1,1,2,E_10,4,Oui,20,Non,3,3,1,3,3,Transformation Digitale,Y,Occasionnel,0,0
7,11,30,M,2693,Divorcé(e),Consulting,Consultant,1,80,1,1,0,4,3,1,3,2,3,E_11,4,Non,22,Non,1,2,1,24,1,Infra & Cloud,Y,Occasionnel,0,0
8,12,38,M,9526,Célibataire,Consulting,Tech Lead,0,80,10,9,7,4,2,3,3,2,3,E_12,4,Non,21,Non,0,2,1,23,3,Infra & Cloud,Y,Frequent,1,8
9,13,36,M,5237,Marié(e),Consulting,Manager,6,80,17,7,7,3,3,2,3,2,2,E_13,3,Non,13,Non,2,3,1,27,3,Transformation Digitale,Y,Occasionnel,7,7
10,14,35,M,2426,Marié(e),Consulting,Consultant,0,80,6,5,4,1,4,1,2,3,3,E_14,3,Non,13,Non,1,5,1,16,3,Transformation Digitale,Y,Occasionnel,0,3
11,15,29,F,4193,Célibataire,Consulting,Consultant,0,80,10,9,5,4,2,2,3,4,3,E_15,3,Oui,12,Non,0,3,1,15,2,Infra & Cloud,Y,Occasionnel,0,8
12,16,31,M,2911,Divorcé(e),Consulting,Assistant de Direction,1,80,5,5,2,1,3,1,3,4,2,E_16,3,Non,17,Non,1,1,1,26,1,Infra & Cloud,Y,Occasionnel,4,3
13,18,34,M,2661,Divorcé(e),Consulting,Consultant,0,80,3,2,2,2,3,1,4,3,3,E_18,3,Non,11,Non,1,2,1,19,2,Transformation Digitale,Y,Occasionnel,1,2
14,19,28,M,2028,Célibataire,Consulting,Consultant,5,80,6,4,2,3,2,1,3,2,3,E_19,3,Oui,14,Oui,0,4,1,24,3,Infra & Cloud,Y,Occasionnel,0,3
15,20,29,F,9980,Divorcé(e),Consulting,Tech Lead,1,80,10,10,9,2,4,3,1,3,3,E_20,3,Non,11,Non,1,1,1,21,4,Infra & Cloud,Y,Occasionnel,8,8
16,21,32,M,3298,Divorcé(e),Consulting,Assistant de Direction,0,80,7,6,2,1,4,1,2,4,2,E_21,3,Oui,12,Non,2,5,1,5,2,Infra & Cloud,Y,Occasionnel,0,5
17,22,22,M,2935,Divorcé(e),Consulting,Consultant,1,80,1,1,0,4,4,1,4,2,2,E_22,3,Oui,13,Non,2,2,1,16,2,Transformation Digitale,Y,Aucun,0,0
18,23,53,F,15427,Marié(e),Commercial,Senior Manager,2,80,31,25,8,1,2,4,4,3,3,E_23,3,Non,16,Non,0,3,1,2,4,Infra & Cloud,Y,Occasionnel,3,7
19,24,38,M,3944,Célibataire,Consulting,Assistant de Direction,5,80,6,3,2,4,3,1,4,3,3,E_24,3,Oui,11,Non,0,3,1,2,3,Infra & Cloud,Y,Occasionnel,1,2
20,26,24,F,4011,Divorcé(e),Consulting,Tech Lead,0,80,5,4,2,1,4,2,3,4,2,E_26,3,Non,18,Non,1,5,1,11,2,Autre,Y,Aucun,1,3
21,27,36,M,3407,Célibataire,Commercial,Représentant Commercial,7,80,10,5,3,3,2,1,1,2,3,E_27,4,Non,23,Oui,0,4,1,9,4,Infra & Cloud,Y,Occasionnel,0,3
22,28,34,F,11994,Célibataire,Consulting,Directeur Technique,0,80,13,12,6,1,3,3,2,3,3,E_28,3,Non,11,Non,0,4,1,7,4,Infra & Cloud,Y,Occasionnel,2,11
23,30,21,M,1232,Célibataire,Consulting,Assistant de Direction,1,80,0,0,0,3,3,1,4,4,3,E_30,3,Non,14,Non,0,6,1,15,2,Infra & Cloud,Y,Occasionnel,0,0
24,31,34,M,2960,Célibataire,Consulting,Assistant de Direction,2,80,8,4,2,2,3,1,1,3,3,E_31,3,Non,11,Oui,0,2,1,6,1,Transformation Digitale,Y,Occasionnel,1,3
25,32,53,F,19094,Divorcé(e),Consulting,Senior Manager,4,80,26,14,13,3,3,5,3,4,2,E_32,3,Non,11,Non,1,3,1,5,3,Autre,Y,Occasionnel,4,8
26,33,32,F,3919,Célibataire,Consulting,Assistant de Direction,1,80,10,10,2,2,1,1,1,2,3,E_33,4,Oui,22,Oui,0,5,1,16,1,Infra & Cloud,Y,Frequent,6,7
27,35,42,M,6825,Marié(e),Commercial,Cadre Commercial,0,80,10,9,7,3,3,2,2,4,3,E_35,3,Non,11,Non,1,2,1,8,4,Marketing,Y,Occasionnel,4,2
28,36,44,F,10248,Marié(e),Consulting,Manager,3,80,24,22,6,1,2,3,4,4,3,E_36,3,Non,14,Non,1,4,1,7,4,Transformation Digitale,Y,Occasionnel,5,17
29,38,46,F,18947,Célibataire,Commercial,Senior Manager,3,80,22,2,2,2,3,5,1,4,2,E_38,3,Non,12,Non,0,2,1,2,4,Marketing,Y,Occasionnel,2,1